<div class="sm-padding data-table">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="table_id_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-md-4">
              <form class="form-inline">
                <div class="dataTables_length" id="table_id_length">
                  <label>
                    <span translate>Show</span>
                    <select
                      name="table_id_length"
                      aria-controls="table_id"
                      class="custom-select custom-select-sm form-control form-control-sm"
                      [(ngModel)]="pageSize"
                      (change)="query()"
                    >
                      <option value="10" selected>10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    <span translate>entries</span>
                  </label>
                </div>
              </form>
            </div>
            <div class="col-md-8 d-flex justify-content-end">
              <!-- <div class="form-group" style="margin-right: 1em">
                <form id="table_id_filter" class="dataTables_filter form-inline pull-right">
                  <label translate
                    ><span class="mr-1" translate>Category:</span>
                    <select
                      name="category"
                      class="form-control"
                      [(ngModel)]="searchFields.categoryIds"
                      (change)="query()"
                    >
                      <option selected translate value="">None</option>
                      <option *ngFor="let cate of categories" value="{{cate._id}}">{{cate.name}}</option>
                    </select>
                  </label>
                </form>
              </div> -->

              <div class="form-group">
                <form id="table_id_filter" class="dataTables_filter form-inline pull-right">
                  <label translate
                    ><span translate>Course name:</span>
                    <input
                      name="search"
                      type="search"
                      class="form-control form-control-sm"
                      aria-controls="table_id"
                      placeholder="{{'Search here'|translate}}"
                      (keyup)="doSearch($event)"
                    />
                  </label>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-12">
            <table
              id="table_id"
              class="table table-horizontal tble-responsive dataTable no-footer"
              role="grid"
              aria-describedby="table_id_info"
            >
              <thead>
                <tr>
                  <th
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="User name: activate to sort column ascending"
                  >
                    <span (click)="sortBy('userName', 'asc')" translate>User name</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'userName'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="Course name: activate to sort column ascending"
                  >
                    <span (click)="sortBy('courseName', 'asc')" translate>Course name</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'courseName'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="Price: activate to sort column ascending"
                  >
                    <span (click)="sortBy('price', 'asc')" translate>Price</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'price'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="Earnings: activate to sort column ascending"
                  >
                    <span (click)="sortBy('commission', 'asc')" translate>Earnings</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'commission'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="CreatedAt: activate to sort column ascending"
                  >
                    <span (click)="sortBy('createdAt', 'asc')" translate>Created At</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'createdAt'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th
                    tabindex="0"
                    aria-controls="table_id"
                    rowspan="1"
                    colspan="1"
                    aria-label="Action: activate to sort column ascending"
                  >
                    <a translate>Action</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!transactions.length && !loading">
                  <td translate colspan="9">There are no transactions</td>
                </tr>
                <tr *ngIf="loading">
                  <td translate colspan="9">Loading...</td>
                </tr>
                <tr *ngFor="let item of transactions, let i = index">
                  <!-- <td>{{item?.course?.tutor?.name}}</td> -->
                  <td>{{item?.user?.name}}</td>
                  <td>{{item?.course?.name}}</td>
                  <td>
                    {{item?.price| currency : (config?.currencySymbol ? config?.currencySymbol : '$'): 'symbol' : '1.0'
                    }}
                  </td>
                  <td>
                    {{item?.balance | currency : (config?.currencySymbol ? config?.currencySymbol : '$'): 'symbol' :
                    '1.0'}}
                  </td>
                  <td>{{item.createdAt |dstFormat | date}}</td>
                  <td>
                    <a
                      [routerLink]="['/users/course-transaction', item._id ]"
                      class="btn btn-light-default btn-hvr-primary btn-sm btn-icon-padding"
                    >
                      <i class="fa fa-eye"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-sm-12 col-md-5">
                          <div class="dataTables_info" id="table_id_info" role="status" aria-live="polite">Showing 1
                              to 10 of 12 entries</div>
                      </div> -->
          <div class="col-sm-12 col-md-12">
            <div class="dataTables_paginate paging_simple_numbers" id="table_id_paginate">
              <ngb-pagination
                [collectionSize]="total"
                [(page)]="page"
                [pageSize]="pageSize"
                [maxSize]="5"
                (pageChange)="pageChange()"
                class="float-right"
              >
                <ng-template ngbPaginationPrevious translate>Previous</ng-template>
                <ng-template ngbPaginationNext translate>Next</ng-template>
                <!-- <ng-template ngbPaginationNumber let-page>{{ currentPage }}</ng-template> -->
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
