<section class="sm-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
        <h3 translate style="text-align: center" *ngIf="course">
          <a [routerLink]="['/courses/detail',course?.alias]">{{course?.name}} </a>
        </h3>
      </div>
    </div>
    <div class="row">
      <div [ngClass]="{'col-md-12': _zoomOut, 'col-md-8': !_zoomOut}">
        <div class="card-horizontal">
          <button
            class="btn btn-primary btn-pink font-xs"
            [hidden]="indexMedia == -1"
            (click)="prev(indexSection, indexLecture, indexMedia)"
            [disabled]="!canPrev"
            translate
          >
            Previous
          </button>
          <button
            class="btn btn-primary btn-pink font-xs ml-2"
            [hidden]="indexMedia == -1"
            (click)="next(indexSection, indexLecture, indexMedia)"
            [disabled]="!canNext"
            translate
          >
            Next
          </button>
          <div class="content-header d-flex justify-content-between">
            <h4 class="card-title">{{shownItem?.title}}</h4>
            <span (click)="zoomOut()" class="btn-zoom"
              ><i class="fas fa-expand-alt" *ngIf="!_zoomOut"></i><i *ngIf="_zoomOut" class="fas fa-compress-alt"></i
            ></span>
          </div>
          <div *ngIf="shownItem&&shownItem.type=='video'" class="video-my-course">
            <video *ngIf="shownItem" width="100%" src="{{shownItem?.url}}" controls></video>
          </div>
          <div *ngIf="shownItem&&shownItem.type=='audio'">
            <audio *ngIf="shownItem" width="100%" src="{{shownItem?.url}}" controls></audio>
          </div>
          <div *ngIf="shownItem&&shownItem.type=='pdf'">
            <ngx-extended-pdf-viewer
              [src]="shownItem?.url"
              useBrowserLocale="true"
              height="80vh"
              [listenToURL]="true"
            ></ngx-extended-pdf-viewer>
          </div>
        </div>
      </div>
      <div class="col-md-4" [hidden]="_zoomOut">
        <div class="card-horizontal">
          <h4 class="card-title" translate>Progress</h4>
          <div class="mb-3">
            <ngb-progressbar
              style="border-radius: 0.25em; font-size: 0.8em"
              type="primary"
              [value]="completedPercent"
              translate
              >{{completedPercent}}%</ngb-progressbar
            >
          </div>
          <h4 class="card-title" translate>Course content</h4>
          <p class="card-text font-xs" *ngIf="course">
            {{course?.totalSection}} sections • {{course?.totalLecture? course?.totalLecture : '0'}} lectures •
            {{returnDurationString(course?.totalLength)}} total length
          </p>

          <div id="accordion" class="myaccordion">
            <div class="card" *ngFor="let section of sections, let i=index">
              <div class="card-header" id="headingOne">
                <h3 class="mb-0">
                  <button
                    class="d-flex align-items-center justify-content-between btn btn-link collapsed btn-collapse"
                    data-toggle="collapse"
                    [attr.data-target]="'#collapse' + i"
                    aria-expanded="false"
                    [attr.aria-controls]="'collapse' + i"
                  >
                    {{section.title}}
                    <p class="mb-0 font-xs font-weight-500">
                      <span>{{section.lectureIds.length}} lectures•{{returnDurationString(section.duration)}} </span>
                      <span class="fa-stack fa-2x">
                        <i class="fas fa-plus fa-stack-1x"></i>
                      </span>
                    </p>
                  </button>
                </h3>
              </div>
              <div
                id="{{'collapse' + i}}"
                class="collapse"
                [attr.aria-labelledby]="section._id"
                data-parent="#accordion"
              >
                <div class="lecture-items">
                  <div
                    class="custom-control custom-checkbox"
                    *ngFor="let lecture of section.lectures, let iLecture = index"
                  >
                    <div class="d-flex justify-content-between">
                      <a
                        class="font-sm js-video-button"
                        href="javascript:void(0)"
                        (click)="openLecture(lecture, i, iLecture)"
                        [ngClass]="{'active':  i === indexSection&&iLecture === indexLecture}"
                      >
                        <i class="far fa-file mr-2 font-sm"></i>{{lecture?.title}}
                      </a>
                      <p class="font-sm text-secondary">{{returnDuration(lecture?.duration)}}</p>
                    </div>
                    <div class="lecture-media font-xs" *ngIf="openLectureId==lecture._id">
                      <div *ngFor="let media of lecture.medias, let iMedia = index">
                        <a
                          href="javascript:void(0)"
                          (click)="viewMedia(media, i, iLecture, iMedia)"
                          [ngClass]="{'active':  i === indexSection&&iLecture === indexLecture&&iMedia===indexMedia}"
                          class="d-flex justify-content-between"
                          *ngIf="media?.mediaType==='video'"
                        >
                          <p class="font-xs text-secondary">
                            <i class="far fa-play-circle mr-2 font-xs"></i>{{media?.media?.name}}
                          </p>
                          <div class="font-xs">
                            <span class="label label-light-warning" translate>video</span>
                            <span class="label label-light-primary ml-1"
                              >{{returnDuration(media?.media?.duration)}}</span
                            >
                          </div>
                        </a>
                        <a
                          class="d-flex justify-content-between"
                          (click)="viewMedia(media, i, iLecture, iMedia)"
                          [ngClass]="{'active':  i === indexSection&&iLecture === indexLecture&&iMedia===indexMedia}"
                          class="d-flex justify-content-between"
                          *ngIf="media?.mediaType==='pdf'"
                        >
                          <p class="font-xs text-secondary">
                            <i class="far fa-file mr-2 font-xs"></i>{{media?.media?.name}}
                          </p>
                          <div class="font-xs">
                            <span class="label label-light-warning" translate>pdf</span>
                            <span class="label label-light-primary ml-1">{{returnDuration(media?.totalLength)}}</span>
                          </div>
                        </a>
                        <a
                          class="d-flex justify-content-between"
                          (click)="viewMedia(media, i, iLecture, iMedia)"
                          [ngClass]="{'active':  i === indexSection&&iLecture === indexLecture&&iMedia===indexMedia}"
                          class="d-flex justify-content-between"
                          *ngIf="media?.mediaType==='audio'"
                        >
                          <p class="font-xs text-secondary">
                            <i class="far fa-play-circle mr-2 font-xs"></i>{{media?.media?.name}}
                          </p>
                          <div class="font-xs">
                            <span class="label label-light-warning" translate>audio</span>
                            <span class="label label-light-primary ml-1"
                              >{{returnDuration(media?.media?.duration)}}</span
                            >
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-baseline mt-3">
            <h4 *ngIf="hasQuestion" class="card-title" translate>Q&A</h4>
            <button type="button" class="btn btn-info" (click)="viewQA()" translate>View</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card-horizontal">
          <review-list
            *ngIf="optionsReview.courseId"
            [options]="optionsReview"
            [stats]="statsReview"
            [canWriteReview]="true"
          ></review-list>
        </div>
      </div>
    </div>
  </div>
</section>
