<section class="pt-5 pb-5">
  <div class="container" *ngIf="course">
    <div class="row">
      <div class="col-md-12 col-12 col-lg-12">
        <div class="card-horizontal">
          <div class="row">
            <div class="col-md-6 position-relative video-course">
              <video *ngIf="videoUrl" width="100%" height="100%" src="{{videoUrl}}" controls></video>
            </div>
            <div class="col-md-6 rmt-3">
              <h4 class="font-weight-bold">{{course?.name}}</h4>
              <div class="mb-3">
                <a
                  *ngFor="let cat of course.categories; let i = index"
                  [routerLink]="['/categories']"
                  [queryParams]="{ categoryIds: cat._id }"
                  ><span class="badge badge-default mr-2">{{ cat.name }}</span></a
                >
              </div>
              <p class="card-text"></p>
              <div class="row row-cols-md-1 row-cols-lg-2">
                <div class="col-md-6">
                  <div class="profile">
                    <a [routerLink]="['/tutors', course?.tutor?.username]">
                      <img
                        src="{{course?.tutor?.avatarUrl}}"
                        class="float-left cate-profile box-shadow-lg mr-2"
                        alt=""
                        onerror="this.src='/assets/images/no-image.jpg'"
                      />
                      <h5 class="pt-3 font-sm">{{course?.tutor?.name}}</h5>
                    </a>
                  </div>
                  <div class="rating-stars pt-4">
                    <ul id="stars">
                      <star-rating [rate]="course?.tutor?.ratingAvg"></star-rating>
                      <span>{{course?.tutor?.ratingAvg}} ({{course?.tutor?.totalRating}})</span>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 mt-3">
                  <h6 class="text-right rtxt-left">
                    <span translate>Last Updated</span> {{course?.updatedAt|dstFormat | date: 'MM/yyyy'}}
                  </h6>
                  <h6 class="mt-3 text-right rtxt-left">
                    <span *ngFor="let lang of course?.tutor?.languages, let i  = index"
                      >{{languageService.returnNameLanguage(lang)}}
                      <span *ngIf="i < course?.tutor?.languages.length - 1">, </span></span
                    >
                  </h6>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-12" *ngIf="course.isFree || salePrice<=0">
                  <input
                    style="border: 1.2px solid grey; margin-bottom: 0.5em; height: 3em"
                    type="email"
                    class="form-control"
                    placeholder="{{'Recipient\'s email id' | translate}}"
                    name="email"
                    [(ngModel)]="emailRecipient"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    #emailId="ngModel"
                  />
                  <div *ngIf="emailId.errors && (emailId.dirty || emailId.touched)">
                    <p [hidden]="!emailId?.errors.pattern" class="error" translate>Email is invalid format</p>
                  </div>
                </div>
                <div class="col-md-12">
                  <button
                    [disabled]="(currentUser && currentUser._id === course?.tutorId) || emailRecipient === (currentUser && currentUser.email)"
                    class="btn btn-blue mr-2"
                    (click)="enrollCourse(course, 'gift')"
                  >
                    <i class="fas fa-gift color-white mr-2"></i> <span translate>Gift Course</span>
                  </button>
                  <a class="btn btn-white rmt-3" *ngIf="!course?.isFavorite" (click)="favorite()">
                    <i class="far fa-heart color-light-red"></i>
                  </a>
                  <a class="btn btn-white rmt-3" *ngIf="course?.isFavorite" (click)="unFavorite()">
                    <i class="fas fa-heart color-light-red"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-8">
        <div class="card-horizontal" *ngIf="course?.goalCourse?.length">
          <h4 class="card-title" translate>All the end of my course, students will be able to</h4>
          <div class="row">
            <div class="col-md-12">
              <ul class="p-0 list-unstyled unorder-list term-list list-more-text">
                <li *ngFor="let item of course?.goalCourse">
                  <i class="fas fa-check text-success mr-2 font-sm"></i>{{item}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-horizontal mt-5" *ngIf="course?.whyJoinCourse?.length">
          <h4 class="card-title" translate>Who should take this course? Who should not?</h4>
          <div class="row">
            <div class="col-md-12">
              <ul class="p-0 list-unstyled unorder-list term-list list-more-text">
                <li *ngFor="let item of course?.whyJoinCourse">
                  <i class="fas fa-check text-success mr-2 font-sm"></i>{{item}}
                </li>
                <!-- <div class="more read_more">Read More...</div> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="card-horizontal mt-5" *ngIf="course?.needToJoinCourse?.length">
          <h4 class="card-title" translate>What will students need to know or do before starting this course?</h4>
          <div class="row">
            <div class="col-md-12">
              <ul class="p-0 list-unstyled unorder-list term-list list-more-text">
                <li *ngFor="let item of course?.needToJoinCourse">
                  <i class="fas fa-check text-success mr-2 font-sm"></i>{{item}}
                </li>
                <!-- <div class="more read_more">Read More...</div> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="card-horizontal mt-5">
          <h4 *ngIf="myCourse" class="card-title" translate>Progress</h4>
          <div *ngIf="myCourse" class="mb-3">
            <ngb-progressbar
              style="border-radius: 0.25em; font-size: 0.8em"
              type="primary"
              [value]="completedPercent"
              translate
              >{{completedPercent}}%</ngb-progressbar
            >
          </div>
          <h4 class="card-title" translate>Course content</h4>
          <p class="card-text font-xs">
            {{course?.totalSection}} <span translate>sections</span> • {{course?.totalLecture}}
            <span translate>lectures</span> • {{returnDurationString(course?.totalLength)}}
            <span translate>total length</span>
          </p>
          <div id="accordion" class="myaccordion">
            <div class="card" *ngFor="let section of sections, let i=index">
              <div class="card-header" id="headingOne">
                <h3 class="mb-0">
                  <button
                    class="d-flex align-items-center justify-content-between btn btn-link collapsed btn-collapse"
                    data-toggle="collapse"
                    [attr.data-target]="'#collapse' + i"
                    aria-expanded="false"
                    [attr.aria-controls]="'collapse' + i"
                  >
                    {{section.title}}
                    <p class="mb-0 font-xs font-weight-500">
                      <span
                        >{{section.lectureIds.length}}
                        <span translate>lectures</span>•{{returnDurationString(section.duration)}}
                      </span>
                      <span class="fa-stack fa-2x">
                        <i class="fas fa-plus fa-stack-1x"></i>
                      </span>
                    </p>
                  </button>
                </h3>
              </div>
              <div
                id="{{'collapse' + i}}"
                class="collapse"
                [attr.aria-labelledby]="section._id"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <div *ngFor="let lecture of section.lectures, let iLecture = index">
                    <div *ngIf="!canView">
                      <div class="d-flex justify-content-between">
                        <a
                          class="font-sm js-video-button"
                          href="javascript:void(0)"
                          (click)="openLecture(lecture, i, iLecture)"
                          [ngClass]="{'active':  i === indexSection&&iLecture === indexLecture}"
                        >
                          <i class="far fa-file mr-2 font-sm"></i>{{lecture?.title}}
                        </a>
                        <p class="font-sm text-secondary">{{returnDuration(lecture?.duration)}}</p>
                      </div>

                      <div class="lecture-media" *ngIf="openLectureId==lecture._id">
                        <div *ngFor="let media of lecture.medias, let iMedia = index">
                          <div class="d-flex justify-content-between" *ngIf="media?.mediaType==='video'">
                            <p class="font-xs text-secondary">
                              <i class="far fa-play-circle mr-2 font-xs"></i>{{media?.media?.name}}
                            </p>
                            <div class="font-xs">
                              <span class="label label-light-warning" translate>video</span>
                              <span class="label label-light-primary ml-1"
                                >{{returnDuration(media?.media?.duration)}}</span
                              >
                            </div>
                          </div>
                          <div class="d-flex justify-content-between" *ngIf="media?.mediaType==='pdf'">
                            <p class="font-xs text-secondary">
                              <i class="far fa-file mr-2 font-xs"></i>{{media?.media?.name}}
                            </p>
                            <div class="font-xs">
                              <span class="label label-light-warning" translate>pdf</span>
                              <span class="label label-light-primary ml-1">{{returnDuration(media?.totalLength)}}</span>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between" *ngIf="media?.mediaType==='audio'">
                            <p class="font-xs text-secondary">
                              <i class="far fa-play-circle mr-2 font-xs"></i>{{media?.media?.name}}
                            </p>
                            <div class="font-xs">
                              <span class="label label-light-warning" translate>audio</span>
                              <span class="label label-light-primary ml-1"
                                >{{returnDuration(media?.media?.duration)}}</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div *ngIf="canView">
                        <div class="d-flex justify-content-between">
                          <a
                            class="font-sm js-video-button"
                            href="javascript:void(0)"
                            (click)="openLecture(lecture, i, iLecture)"
                            [ngClass]="{'active':  i === indexSection&&iLecture === indexLecture}"
                          >
                            <i class="far fa-file mr-2 font-sm"></i>{{lecture?.title}}
                          </a>
                          <p class="font-sm text-secondary">{{returnDuration(lecture?.duration)}}</p>
                        </div>
                        <div class="lecture-media" *ngIf="openLectureId==lecture._id">
                          <div *ngFor="let media of lecture.medias, let iMedia = index">
                            <a
                              href="javascript:void(0)"
                              (click)="viewMedia(media, i, iLecture, iMedia)"
                              [ngClass]="{'active':  i === indexSection&&iLecture === indexLecture&&iMedia===indexMedia}"
                              class="d-flex justify-content-between"
                              *ngIf="media?.mediaType==='video'"
                            >
                              <p class="font-xs text-secondary">
                                <i class="far fa-play-circle mr-2 font-xs"></i>{{media?.media?.name}}
                              </p>
                              <div class="font-xs">
                                <span class="label label-light-warning" translate>video</span>
                                <span class="label label-light-primary ml-1"
                                  >{{returnDuration(media?.media?.duration)}}</span
                                >
                              </div>
                            </a>
                            <a
                              class="d-flex justify-content-between"
                              (click)="viewMedia(media, i, iLecture, iMedia)"
                              [ngClass]="{'active':  i === indexSection&&iLecture === indexLecture&&iMedia===indexMedia}"
                              class="d-flex justify-content-between"
                              *ngIf="media?.mediaType==='pdf'"
                            >
                              <p class="font-xs text-secondary">
                                <i class="far fa-file mr-2 font-xs"></i>{{media?.media?.name}}
                              </p>
                              <div class="font-xs">
                                <span class="label label-light-warning" translate>pdf</span>
                                <span class="label label-light-primary ml-1"
                                  >{{returnDuration(media?.totalLength)}}</span
                                >
                              </div>
                            </a>
                            <a
                              class="d-flex justify-content-between"
                              (click)="viewMedia(media, i, iLecture, iMedia)"
                              [ngClass]="{'active':  i === indexSection&&iLecture === indexLecture&&iMedia===indexMedia}"
                              class="d-flex justify-content-between"
                              *ngIf="media?.mediaType==='audio'"
                            >
                              <p class="font-xs text-secondary">
                                <i class="far fa-play-circle mr-2 font-xs"></i>{{media?.media?.name}}
                              </p>
                              <div class="font-xs">
                                <span class="label label-light-warning" translate>audio</span>
                                <span class="label label-light-primary ml-1"
                                  >{{returnDuration(media?.media?.duration)}}</span
                                >
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-horizontal mt-5" *ngIf="enrolledList?.length">
          <h4 class="card-title" translate>List of students who have enrolled for this course</h4>
          <ul class="students-enrolled mt-4" *ngIf="enrolledList?.length">
            <li *ngFor="let item of enrolledList" placement="bottom" ngbTooltip="{{item?.user?.name}}">
              <img src="{{item?.user?.avatarUrl}}" onerror="this.src='/assets/images/no-image.jpg'" alt="" />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-horizontal card-sticky">
          <span class="color-light-red price-text" *ngIf="course?.isFree" translate>FREE</span>
          <span class="color-light-red price-text" *ngIf="appliedCoupon"
            >{{salePrice | currency : (config?.currencySymbol ? config?.currencySymbol + ' ' : '$ '): 'symbol' :
            '1.0'}}</span
          >
          <span class="color-light-red price-text" *ngIf="!appliedCoupon && !course?.isFree"
            >{{course?.price | currency : (config?.currencySymbol ? config?.currencySymbol + ' ' : '$ '): 'symbol' :
            '1.0' }}</span
          >
          <span class="ml-1" *ngIf="appliedCoupon && !course?.isFree"
            ><del
              >{{course?.price | currency : (config?.currencySymbol ? config?.currencySymbol + ' ' : '$ '): 'symbol' :
              '1.0' }}</del
            ></span
          >
          <span class="offer ml-1" *ngIf="appliedCoupon&&course?.coupon?.type==='percent'">{{saleValue}}% off</span>
          <span class="offer ml-1" *ngIf="appliedCoupon&&course?.coupon?.type==='money'"> -${{saleValue}}</span>
          <p class="color-light-red mt-2"></p>
          <button
            [disabled]="(currentUser && currentUser._id === course?.tutorId) || course?.booked"
            class="btn btn-green mr-2"
            (click)="enrollCourse(course, 'booking')"
          >
            <!-- <i class="far fa-paper-plane color-white mr-2"></i>Buy Now -->
            <i class="far fa-paper-plane color-white mr-2"></i> <span *ngIf="!course?.booked" translate>Buy Now</span>
            <span *ngIf="course?.booked" translate>Purchased</span>
          </button>
          <p class="text-center card-text mt-2 font-xs" translate>30-Day Money-Back Guarantee</p>
          <h5 class="mt-3" translate>This course includes:</h5>
          <ul class="p-0 list-unstyled unorder-list">
            <li><i class="far fa-play-circle mr-2 font-sm"></i>{{returnDurationString(course?.totalLength)}}</li>
            <li><i class="fas fa-infinity mr-2 font-sm"></i><span translate>Full lifetime access</span></li>
            <li><i class="fas fa-mobile-alt mr-2 font-sm"></i><span translate>Access on mobile and TV</span></li>
          </ul>
          <div class="cta-input" *ngIf="!course?.booked && currentUser?._id!==tutorId">
            <div class="input-group mt-3">
              <app-apply-coupon
                *ngIf="course && course.coupon && course.coupon._id"
                [options]="optionsCoupon"
                (onApply)="applyCoupon($event)"
                (isUsed)="checkUsedCoupon($event)"
              ></app-apply-coupon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="course.description">
      <div class="col-md-12 col-12 col-lg-12">
        <div class="card-horizontal">
          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title" translate>Description</h4>
              <app-card-text [content]="course.description" [showChar]="2000"></app-card-text>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 col-12 col-lg-12">
        <div class="card-horizontal">
          <div class="row">
            <div class="col-md-6">
              <h3 class="mb-4" translate>Instructor</h3>
              <div class="profile">
                <a [routerLink]="['/tutors', course?.tutor?.username]">
                  <img
                    src="{{course?.tutor?.avatarUrl | defaultImage}}"
                    class="float-left profile-md box-shadow-lg"
                    alt=""
                  />
                  <div class="profile-content pt-4">
                    <h5 class="profile-name">
                      {{course?.tutor?.name}}<i class="fas fa-check-circle color-blue ml-2"></i>
                    </h5>
                  </div>
                </a>
              </div>
              <div class="pt-70">
                <h4 class="card-title" translate>About Me</h4>
                <app-card-text [content]="course?.tutor?.bio" [showChar]="500"></app-card-text>
              </div>
            </div>
            <div class="col-md-6 rmt-4">
              <review-list [options]="optionsReview" [stats]="statsReview" [canWriteReview]="false"></review-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
