<div class="card-horizontal input-border">
  <div class="row mb-3">
    <div class="col-md-3 d-flex align-items-center">
      <button class="btn btn-green mt-2" (click)="submitQuestion()" translate>Add Question</button>
    </div>
  </div>
  <div id="accordion" class="row mb-3 myaccordion" *ngIf="questions.length && !loading">
    <div class="card col-md-12" *ngFor="let question of questions, let i = index">
      <div class="card-header" id="{{question._id}}">
        <div class="row">
          <div (click)="submitQuestion(question)" class="col-md-11">
            <h3 class="mb-0">
              <button class="d-flex align-items-center justify-content-between btn btn-link">
                {{question.content}}
                <p class="mb-0 font-xs question-type">
                  <span translate *ngIf="question.type==='single'">Single response</span>
                  <span translate *ngIf="question.type==='multi'">Multiple response</span>
                  <span translate *ngIf="question.type==='trueOrFalse'">True or False</span>
                  <span translate *ngIf="question.type==='matching'">Matching</span>
                </p>
              </button>
            </h3>
          </div>
          <div class="col-md-1">
            <a (click)="submitQuestion(question)"><i class="fa fa-edit text-success font-sm"></i></a>
            <a (click)="removeQuestion(question, i)"><i class="fa fa-trash text-danger font-sm"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="list-inline pull-right">
  <li>
    <button type="button" class="btn btn-light prev-step mr-2" (click)="onTab(3)">
      <i class="fas fa-angle-double-left mr-1 wizard-arrow"></i><span translate>Previous</span>
    </button>
  </li>
  <li>
    <button type="button " class="btn btn-default next-step" (click)="onTab(5)">
      <span translate>Continue</span><i class="fas fa-angle-double-right ml-1 wizard-arrow"></i>
    </button>
  </li>
</ul>
